
<link rel="stylesheet" type="text/css" href="../register/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="../register/css/demo.css" />
<link rel="stylesheet" type="text/css" href="../register/css/component.css" />
<link rel="stylesheet" type="text/css" href="../register/css/cs-select.css" />
<link rel="stylesheet" type="text/css" href="../register/css/cs-skin-boxes.css" />
<script src="../register/js/modernizr.custom.js"></script>

<div class="container">
    <div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title">
            <h1> Đăng Nhập Vào Tài Khoản Của Bạn </h1>
            <div class="codrops-top">
                <a class="codrops-icon codrops-icon-prev" href="/dang-ky"><span> Đăng ký </span></a>
                <a class="codrops-icon codrops-icon-drop" href="#q1"><span> Nhập email để đăng nhập </span></a>
                <a class="codrops-icon codrops-icon-info" href="#"><span> Hướng dẫn đăng nhập </span></a>
            </div>
        </div>
        <form method="post" action="/dang-nhap" id="myform" class="fs-form fs-form-full" >
            <ol class="fs-fields">
                <li>
                    <label class="fs-field-label fs-anim-upper" for="email" data-info="Chúng tôi sẽ không gửi thư rác cho bạn, chúng tôi hứa..."> Địa chỉ email của bạn là gì? </label>
                    <input class="fs-anim-lower" id="q2" name="email" type="email" placeholder="Nhập mật khẩu " required/>
                </li>
                <li>
                    <label class="fs-field-label fs-anim-upper" for="password" data-info="Chúng tôi cần bạn nhập đúng mật khẩu đã tạo."> Mật khẩu của bạn là? </label>
                    <input class="fs-anim-lower" id="q1" name="password" type="password" placeholder="Nhập mật khẩu " required/>
                </li>
            </ol><!-- /fs-fields -->
            <button class="fs-submit" type="submit"> Đăng Nhập </button>
        </form>
    </div>
</div>
<script src="../register/js/classie.js"></script>
<script src="../register/js/selectFx.js"></script>
<script src="../register/js/fullscreenForm.js"></script>
<script>
    (function() {
        var formWrap = document.getElementById( 'fs-form-wrap' );

        [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
            new SelectFx( el, {
                stickyPlaceholder: false,
                onChange: function(val){
                    document.querySelector('span.cs-placeholder').style.backgroundColor = val;
                }
            });
        } );

        new FForm( formWrap, {
            onReview : function() {
                classie.add( document.body, 'overview' ); 
            }
        } );
    })();
</script>
